.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  label {
    position: relative;
    display: flex;
    align-items: center;
  }

  input {
    width: 450px;
    height: 45px;
    font-size: 1.25rem;
    padding: 0.25rem;
    padding-left: 0.8rem;
    outline: none !important;
    border-radius: 40px;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    &::placeholder {
      color: #9e9e9e;
    }
    &:focus {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    }
  }
  button {
    position: absolute;
    right: 0.25rem;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background-color: #2E659C;
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer;
  }
}